# Python virtual environment
venv/

# __pycache__ va boshqa cache fayllar
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Editorlar uchun (VS Code, PyCharm va h.k.)
.vscode/
.idea/

# OS-level fayllar
.DS_Store
Thumbs.db

# Environment variables
.env

# Log fayllar
*.log

# Migrationlar (agar kerak bo'lmasa)
*.sqlite3
